<div class="container competitions-entry">

  <div class="col-sm-12 back">
    <a href="/competitions/1" class="btn">大会詳細（ランキング画面）へもどる</a>
  </div>

  <h1><%= @competition.title %></h1>
  <% # modelオプションで@entryにしたときパスエラーが発生した
     # urlオプションでgetかpostかどちらかのパスは指定することができたが、両方に指定することはできなかった）
     # modelオプションを削除して、urlでcompetition_entriesパス（post先）を指定
  %>
  <%= form_with(url: competition_entries_path, local: true,html: {multipart: true, class: "dropzone"}) do |f| %>
    <div class="row">
      <div class="input">

        <div class="form-group row">
          <%= f.label(:entry_class, ("階級")) %>
          <%= f.select :entry_class, [["ライト級", 3], ["ミドル級", 6], ["ヘビー級", 9]], class: "form-control", placeholder: "ベンチプレス大会" %>
        </div>

        <div class="form-group row">
          <%= f.label(:lifted_weight, ("1RM重量")) %>
          <%= f.text_field :lifted_weight, class: "form-control", placeholder: "1RMの重量を入力" %>
        </div>

        <div class="form-group row">
          <div class="field">
            <%= f.label :video %>
            <% #htmlのaccept属性により、動画のみを許容する %>
            <%= f.file_field :video, :accept => 'video/*' %>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group row save">
      <%= f.submit "エントリーする", class: "btn btn-primary" %>
    </div>

  <% end %>

</div>