<div class="competition-info">
  <h4 class="card-title"><%= competition["title"] %></h4>
  <p class="card-text">開催期間<%= competition["period_start"] %>〜<%= competition["period_end"] %></p>
  <div class="champions">
    <p class="title">Champions</p>

    <p class="col-sm-5">ライト級</p>
    <p class="col-sm-4">name</p>
    <p class="col-sm-3">100kg</p>

    <p class="col-sm-5">ミドル級</p>
    <p class="col-sm-4">name</p>
    <p class="col-sm-3">100kg</p>

    <p class="col-sm-5">ヘビー級</p>
    <p class="col-sm-4">name</p>
    <p class="col-sm-3">100kg</p>
  </div>
</div>
