<% #renderで画面遷移する際のflashが動作させるために,local: trueオプションを付する %>
<% #local: trueがない場合、Rails5ではAjaxによる送信という意味になる。 %>
<% #普通にHTMLとしてフォームを送信する場合にlocal: trueが必要になる %>
<%= form_with(model: @competition, local: true) do |f| %>

  <div class="row">
    <div class="input">

      <div class="form-group row">
        <%= f.label(:title, ("大会名")) %>
        <%= f.text_field :title, class: "form-control", placeholder: "ベンチプレス大会" %>
      </div>

      <div class="form-group row">
        <%= f.label(:competition_event, ("種目")) %>
        <%= f.text_field :competition_event, class: "form-control", placeholder: "ペンチプレス" %>
      </div>

      <div class="form-group row">
        <%= f.label(:period_start, ("大会始期")) %>
        <%= f.date_field :period_start, class: "form-control" %>
      </div>

      <div class="form-group row">
        <%= f.label(:period_end, ("大会終期")) %>
        <%= f.date_field :period_end, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group row save">
    <%= f.submit submit_label, class: "btn btn-primary" %>
  </div>

<% end %>