<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th class="col-sm-2">順位</th>
    <th class="col-sm-3">重量</th>
    <th class="col-sm-3">名前</th>
    <th class="col-sm-4">ムービー</th>
  </tr>
  </thead>
  <% entries.each do |entry| %>
    <tbody>
    <tr>
      <th scope="row"><%= entry["rnk"] %></th>
      <td><%= entry["lifted_weight"] %></td>
      <td><%= entry["username"] %></td>
      <td>
        <%= video_tag("/uploads/entry/video/#{entry["id"]}/#{entry["video"]}",
                      :controls => true,
                      :loop => false,
                      :size => 10 * 10)
        %>
      </td>
    </tr>
    </tbody>
  <% end %>
</table>