<div class="error-message">
  <% if competition.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% competition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>