<div class="container competitions-edit">

  <div class="col-sm-12 back">
    <a href="/competitions/<%= @competition.id %>" class="btn">大会詳細へもどる</a>
  </div>

  <h1>大会を編集する</h1>
  <div class="delete-button">
    <%= link_to 'この大会を削除する', "/competitions/#{@competition.id}",
                method: :delete,
                class: "btn btn-danger",
                data: {confirm: '本当に削除しますか？',
                       cancel: 'やめる',
                       commit: '大会を削除する'}, title: '削除の確認'
    %>
  </div>
  <%= render partial: 'error_message', locals: {competition: @competition} %>
  <%= render partial: 'competition_form', locals: {submit_label: '編集内容を保存する'} %>

</div>
