<h1>大会一覧</h1>
<div class="container competition-index">

  <div class="col-sm-12 new">
    <a href="/competitions/new" class="btn btn-primary">大会新規作成</a>
  </div>

  <% @sorted_competitions.each do |competition| %>
    <div class="col-sm-4">
      <% if competition["status"] == 2 %>

        <div
          class="card"
          style="background:lightblue"
        >
          <div class="card-body">

            <% # locals: {competition: competition}を使うことで %>
            <% # competition(後者)をテンプレート先へcompetition(前者)という名前で渡す %>
            <%= render partial: 'competition_info', locals: {competition: competition} %>
            <a href="/competitions/<%= competition["id"] %>"
               class="btn btn">
              開催前
            </a>
          </div>
        </div>

      <% elsif competition["status"] == 1 %>

        <div class="card">
          <div class="card-body">
            <%= render partial: 'competition_info', locals: {competition: competition} %>
            <a href="/competitions/<%= competition["id"] %>"
               class="btn btn-warning"
            >
              開催中
            </a>
          </div>
        </div>

      <% else %>

        <div
          class="card"
          style="background:lightgray"
        >
          <div class="card-body">
            <%= render partial: 'competition_info', locals: {competition: competition} %>
            <a href="/competitions/<%= competition["id"] %>"
               class="btn btn-success"
            >
              結果をみる
            </a>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>
</div>

