<div class="container competition-new">

  <div class="col-sm-12 back">
    <a href="/competitions/" class="btn">大会一覧へもどる</a>
  </div>

  <h1>大会を新規作成する</h1>
  <%= render partial: 'error_message', locals: {competition: @competition} %>
  <%= render partial: 'competition_form', locals: {submit_label: '新規作成する'} %>
</div>
