<div class="container competition-show">
  <div class="col-sm-4">
    <div class="backindex">
      <a href="/competitions" class="btn">大会一覧にもどる</a>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="entry">
      <a href="/competitions/<%= @competition.id %>/entries/new" class="btn btn-primary">この大会にエントリーする</a>
    </div>
  </div>
  <div class="col-sm-12 edit">
    <a href="/competitions/<%= @competition.id %>/edit" class="btn btn-warning">この大会を編集する</a>
  </div>

  <h1><%= @competition.title %></h1>
  <h2>開催期間 <%= @competition.period_start %> 〜 <%= @competition.period_end %></h2>

  <% # navでナビゲーションコンポーネントを利用,nav-tabsで横並びのタブにする（2つとも必要） %>
  <ul class="nav nav-tabs">
    <% # aタグとそれぞれのタブの内容を紐付ける %>
    <% # data-toggle="tab"はタブの切替機能を有効にするために必要 %>
    <% # class="active"で画面遷移時のタブ選択する %>
    <li class="active"><a href="#right" data-toggle="tab">ライト級</a></li>
    <li><a href="#middle" data-toggle="tab">ミドル級</a></li>
    <li><a href="#heavy" data-toggle="tab">ヘビー級</a></li>
  </ul>
  <div class="tab-content">

    <% # 選択中のタブの中身のみを表示させるようにtab-paneを指定（これがないとタブ関係なくすべての内容が一斉にでてくる） %>
    <% # タブと同様,クラスにactiveを指定して画面遷移時にこのコンテンツを表示させる %>
    <div class="tab-pane active" id="right">
      <%= render partial: 'competition_rank', locals: {entries: @light_entries} %>
    </div>

    <div class="tab-pane" id="middle">
      <%= render partial: 'competition_rank', locals: {entries: @middle_entries} %>
    </div>

    <div class="tab-pane" id="heavy">
      <%= render partial: 'competition_rank', locals: {entries: @heavy_entries} %>
    </div>

  </div>

</div>
