<div class="container user-edit">

  <div class="col-sm-12 edit">
    <a href="/users/1" class="btn">マイステータスにもどる</a>
  </div>

  <h1>〇〇さんのステータスを編集する</h1>

  <form>
    <div class="row">
      <div class="col-sm-6 edit-image">

        <div class="avatar-wrapper">
          <img src="/images/monster.jpeg" width="200px" height="200px">
        </div>

        <div>
          <p>プロフィール画像を変更する</p>
        </div>

        <div class="dropzone">
          <p>ファイルをここにドロップするか</p>
          <p>ここをクリックしてください</p>
        </div>

      </div>

      <div class="col-sm-6">

        <div class="form-group row status-edit">
          <label for="text">名前</label>
          <div>
            <input type="text" class="form-control" placeholder="名前">
          </div>
        </div>

        <div class="form-group row range">
          <label for="formControlRange">身長</label>
          <input type="range" class="form-control-range" id="formControlRange">
        </div>

        <div class="form-group row range">
          <label for="formControlRange">体重</label>
          <input type="range" class="form-control-range" id="formControlRange">
        </div>

      </div>
    </div>

    <div class="form-group row edit-save">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">編集内容を保存する</button>
      </div>
    </div>

  </form>

</div>
