<div class="container user-index">

  <h1>ユーザー一覧</h1>

  <form>
    <div class="search-group">
      <div class="row">

        <div class="form-group row col-sm-3">
          <label for="text">名前</label>
          <div>
            <input type="text" class="form-control" placeholder="名前">
          </div>
        </div>

        <div class="form-group row col-sm-4">
          <label for="text">メールアドレス</label>
          <div>
            <input type="text" class="form-control" placeholder="メールアドレス">
          </div>
        </div>

        <div class="form-group row col-sm-1">
          <label for="text">階級</label>
          <div>
            <select name="class" id="class">
              <option value="right">ライト級</option>
              <option value="middle">ミドル級</option>
              <option value="heavy">ヘビー級</option>
            </select>
          </div>
        </div>

        <div class="form-group row col-sm-4 entry-competition-form">
          <label for="text">エントリーした大会</label>
          <div>
            <select name="entry_competition" id="entry_competition">
              <option value="ベンチプレスNO.1大会">ベンチプレスNO.1大会</option>
              <option value="スクワットNO.1大会">スクワットNO.1大会</option>
              <option value="デッドリフトNO.1大会">デッドリフトNO.1大会</option>
            </select>
          </div>
        </div>

      </div>
      <div class="form-group row search">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">検索</button>
        </div>
      </div>
    </div>
  </form>


  <form>
    <div class="col-sm-12 delete">
      <a href="#" class="btn btn-danger">チェックをつけたユーザーを削除する</a>
    </div>

    <table class="table table-striped table-hover">

      <thead>
      <tr>
        <th class="col-sm-2"></th>
        <th class="col-sm-3">id</th>
        <th class="col-sm-3">名前</th>
        <th class="col-sm-4">メールアドレス</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <th scope="row form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </th>
        <td>33</td>
        <td>Otto</td>
        <td>Otto@gmail.com</td>
      </tr>

      <tr>
        <th scope="row form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </th>
        <td>32</td>
        <td>Thornton</td>
        <td>Thornton@gmail.com</td>
      </tr>

      <tr>
        <th scope="row form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </th>
        <td>31</td>
        <td>tom</td>
        <td>Thornton@gmail.com</td>
      </tr>

      </tbody>
    </table>
  </form>
</div>
