<div class="container user-show">

  <h1>マイステータス</h1>
  <div class="row">
    <div class="col-sm-6">
      <div class="avatar-wrapper">
        <h4>筋トレマニア</h4>
        <img src="/images/monster.jpeg" width="200px" height="200px">
      </div>
    </div>
    <div class="col-sm-6 status">
      <div class="col-sm-12 edit">
        <a href="/users/1/edit" class="btn">編集する</a>
      </div>
      <table class="table">
        <tbody>
        <tr>
          <td>名前</td>
          <td>foo</td>
        </tr>
        <tr>
          <td>保有ポイント</td>
          <td>123pt</td>
        </tr>
        <tr>
          <td>身長</td>
          <td>172cm</td>
        </tr>
        <tr>
          <td>体重</td>
          <td>70kg</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div>
    <h2>エントリーした大会</h2>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img src="/images/monster.jpeg" class="card-img-top" alt="..." height="100%" width="90%">
      <div class="card-body">
        <h4 class="card-title">ベンチプレスNO.1決定戦</h4>
        <p class="card-text">開催期間：1月1日〜1月8日</p>

        <p class="col-sm-7">エントリーした階級</p>
        <p class="col-sm-5">ミドル級</p>

        <p class="col-sm-7">エントリーした重量</p>
        <p class="col-sm-5">100kg</p>

        <p class="col-sm-7">現在の順位</p>
        <p class="col-sm-5">29位</p>
        <div class="a-wrapper">
          <a href="/competitions/1" class="btn btn-warning">開催中</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img src="/images/monster.jpeg" class="card-img-top" alt="..." height="100%" width="90%">
      <div class="card-body">
        <h4 class="card-title">ベンチプレスNO.1決定戦</h4>
        <p class="card-text">開催期間：1月1日〜1月8日</p>

        <p class="col-sm-7">エントリーした階級</p>
        <p class="col-sm-5">ミドル級</p>

        <p class="col-sm-7">エントリーした重量</p>
        <p class="col-sm-5">100kg</p>

        <p class="col-sm-7">現在の順位</p>
        <p class="col-sm-5">29位</p>
        <div class="a-wrapper">
          <a href="/competitions/1" class="btn btn-warning">開催中</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card" style="background-color: lightgrey">
      <img src="/images/monster.jpeg" class="card-img-top" alt="..." height="100%" width="90%">
      <div class="card-body">
        <h4 class="card-title">ベンチプレスNO.1決定戦</h4>
        <p class="card-text">開催期間：1月1日〜1月8日</p>

        <p class="col-sm-7">エントリーした階級</p>
        <p class="col-sm-5">ミドル級</p>

        <p class="col-sm-7">エントリーした重量</p>
        <p class="col-sm-5">100kg</p>

        <p class="col-sm-7">現在の順位</p>
        <p class="col-sm-5">29位</p>
        <div class="a-wrapper">
          <a href="/competitions/1" class="btn btn-warning">結果をみる</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card" style="background-color: lightgrey">
      <img src="/images/monster.jpeg" class="card-img-top" alt="..." height="100%" width="90%">
      <div class="card-body">
        <h4 class="card-title">ベンチプレスNO.1決定戦</h4>
        <p class="card-text">開催期間：1月1日〜1月8日</p>

        <p class="col-sm-7">エントリーした階級</p>
        <p class="col-sm-5">ミドル級</p>

        <p class="col-sm-7">エントリーした重量</p>
        <p class="col-sm-5">100kg</p>

        <p class="col-sm-7">現在の順位</p>
        <p class="col-sm-5">29位</p>
        <div class="a-wrapper">
          <a href="/competitions/1" class="btn btn-warning">結果をみる</a>
        </div>
      </div>
    </div>
  </div>
</div>
