<div class="top-full">
  <p class="toppage-p">オンラインワークアウトコンペティションを開催しています</p>
  <div class="a-wrapper">
    <%= link_to "現在開催中の大会を見る", '/competitions', class: "btn btn-lg btn-warning" %>
  </div>
</div>
