@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header {
  .container {
    position: relative;

    #logo {
      float: left;
      margin-right: 10px;
      font-size: 1.7em;
      color: #fff;
      letter-spacing: -1px;
      font-weight: bold;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    #logo:hover {
      color: #fff;
      text-decoration: none;
    }
    .header-ul {
      position: relative;

      .character-wrapper {
        position: absolute;
        top: 50%;
        left: 48%;
        transform: translateY(-50%);

        img {
          width: 45px;
          height: 45px;
        }
      }

      .balloon {
        position: relative;
        display: inline-block;
        margin: 0.5em 100px 0.5em 0;
        padding: 7px 10px;
        min-width: 120px;
        max-width: 100%;
        color: #555;
        font-size: 16px;
        background: #e0edff;
        border-radius: 5px;

        p {
          margin: 0;
          padding: 0;
        }
      }

      //吹き出しの三角の部分
      //afterは疑似要素（HTMLには書かれていない要素もどき）のひとつ
      .balloon:after {
        content: "";
        //.balloonにposition:relativeを指定して、afterでposition:absoluteを指定して.balloon要素に対した位置を指定
        position: absolute;
        top: 50%;
        left: 100%;
        //absoluteでtopから50%の位置に吹き出しを置いたが、高さの頂点が50%の位置に来るから、吹き出し高さの半分を上に戻す
        margin-top: -15px;

        //中身の高さが０のとき,borderが三角になる挙動を利用して、吹き出しの形をつくる
        //transparent 指定した要素は透明になるが、要素としては存在している
        //ここでは吹き出しを作るために左のborderは表示させて、残りのborderは要素は残しておくものの、見えないようにする
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #e0edff;
      }
    }
  }
}


/* footer */

footer {
  background: black;
  padding: 4px 0;

  .footer-p {
    font-size: 1.1em;
    line-height: 1.7em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
  }
}

.error-message {
  background-color: lightgoldenrodyellow;
  margin: auto;
  width: 50%;

}

//toppage

.top-full {
  background-image: url("/images/workout_competition_top.jpg");
  width: 100%;
  //親のvh(viewport height)の100%の値
  min-height: 100vh;
  //背景画像を固定
  background-attachment: fixed;
  background-size: cover;

  .toppage-p {
    font-size: 1.1em;
    line-height: 1.7em;
    text-align: center;
    color: #2E2F30;
    padding: 200px 0 50px 0;
  }

  .a-wrapper {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}


/* competitions/index */

.competition-index {
  .new {
    text-align: right;
  }

  .card {
    background-color: lightpink;
    border-radius: 10px;
    text-align: center;
    margin: 20px 0 20px 0;

    .card-body {
      padding: 10px 50px;

      .card-title {
        text-align-last: justify;
      }

      .card-text {
        text-align-last: justify;
      }

      .champions {
        text-align: left;

        .title {
          font-weight: bold;
        }
      }
    }
  }
}


/* competitions/show */

.competition-show {
  .entry {
    text-align: right;
  }

  .edit {
    text-align: right;
  }

  .btn {
    margin: 20px;
  }
}


/* competitions/new */

.competition-new {
  .back {
    margin: 20px;
  }

  h1 {
    padding-top: 20px;
  }

  .save {
    text-align: center;
    margin-top: 20px;
  }

  .input {
    margin: auto;
    width: 50%;
  }
}


/* competitions/edit */

.competitions-edit {
  .back {
    margin: 20px;
  }

  h1 {
    padding-top: 20px;
  }

  .delete-button {
    text-align: right;
    .btn-danger{
      margin: 10px 265px 10px 0px;
    }
  }


  .save {
    text-align: center;
    margin: 20px;

  }

  .input {
    margin: auto;
    width: 50%;
  }
}


/* competitions/entry */

.competitions-entry {
  .back {
    margin: 20px;
  }

  h1 {
    padding-top: 20px;
  }

  .input {
    margin: auto;
    width: 40%;

    .row {
      margin: 30px auto;

      #class {
        height: 40px;
        width: 95%;
      }

      #lifting_weight {
        height: 40px;
        width: 95%;
      }

      .dropzone {
        border: 1px dashed #666666;
        margin: 0 50px;
        background-color: #CCCCCC;
      }
    }
  }

  .save {
    text-align: center;
    margin: 20px;
  }

}


/* user/show */

.user-show {
  .avatar-wrapper {
    text-align: center;
  }

  h2 {
    padding-top: 20px;
  }

  .status {
    td {
      height: 50px;
      border: none;
    }

    .edit {
      text-align: right;
    }
  }

  .card {
    padding: 10px;
    background-color: lightpink;
    border-radius: 10px;
    text-align: center;
    margin: 20px;

    .card-body {
      //card-bodyにinline-blockを適用させてcard全体の背景色をcard-bodyまで適用させる
      display: inline-block;
    }
  }
}


/* users/edit */

.user-edit {
  .edit {
    margin-top: 20px;
  }

  h1 {
    padding-top: 20px;
  }

  .edit-image {
    text-align: center;
  }

  input {
    margin: 0 auto;
  }

  .edit-save {
    text-align: center;
    margin-top: 20px;
  }

}

/* users/index */
.user-index {
  .delete {
    text-align: right;
  }

  .entry-competition-form {
    padding: 0 50px;
  }

  .search-group {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #EFEFEF;
    padding: 10px;
    margin: 0 auto 20px;
    width: 80%;

    .form-group {
      margin-left: 5px;
    }

    .search {
      text-align: center;
    }
  }
}




