<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Workout Competition", '/', id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right header-ul">
        <li class="balloon">
          <p>エントリーしている大会があります</p>
        <li class="character-wrapper">
          <img src="/images/character.png">
        </li>
        </li>


        <li><%= link_to "大会", '/competitions' %></li>

        <% if user_signed_in? %>
          <li><%= link_to 'マイステータス', '#' %></li>
          <li><%= link_to '統計情報', '#' %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'サインアップ', new_user_registration_path %></li>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>
