<!DOCTYPE html>
<html>
<head>
  <title>WorkoutCompetition</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/flash' %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
